<div
  id="bk-square-container"
  [style.background-color]="colorManagerService.backgroundColor"
  (window:resize)="onResize()">
  <div
    class="bk-square"
    *ngFor="let square of Squares; let i = index"
    [style.background-color]="rngIndexes[i]===-1?'transparent':colorManagerService.showedColors[rngIndexes[i]].color"
    [style.height]="square.s"
    [style.width]="square.s"
    [style.left]="square.x"
    [style.top]="square.y">
  </div>
</div>

<div id="content">
  <ng-content ></ng-content>
</div>
