<div id="color-picker-container" *ngIf="active" [style.background]="color">
  <span id="close" (click)="close();" (touchend)="close();">
    ✖
  </span>
  <span >
    {{red}}
  </span>
  <input
    type="range"
    min="0"
    max="255"
    class="slider"
    (input)="updateColor()"
    [(ngModel)]="red"
    [ngStyle]="{'background-image':bkred }">
  <span>
    {{green}}
  </span>
  <input
    type="range"
    min="0"
    max="255"
    class="slider"
    (input)="updateColor()"
    [(ngModel)]="green"
    [ngStyle]="{'background-image': bkgreen }">
  <span>
    {{blue}}
  </span>
  <input
    type="range"
    min="0"
    max="255"
    class="slider"
    (input)="updateColor()"
    [(ngModel)]="blue"
    [ngStyle]="{'background-image': bkblue }">
</div>
