<mat-radio-group class="card" id="numbers" (change)="changeNumber($event)">
  <b>Nombre de feuilles</b>
  <mat-radio-button *ngFor="let n of colorManagerService.NUMBERS"  id="number_{{n}}" type="radio" name="numbers" [value]="n" [color]="colorManagerService.validNumbers.includes(n)?colorValid:colorInvalid" [checked]="colorManagerService.number===n">
    <span [style.color]="colorManagerService.validNumbers.includes(n)?'#008800':'#bbbbbb'">{{n}}</span>
  </mat-radio-button>
</mat-radio-group>
<mat-radio-group class="card" id="layouts" (change)="changePattern($event)">
  <b>Motif</b>
  <mat-radio-button *ngFor="let l of colorManagerService.LAYOUTS" id="layout_{{l.name}}" colortype="radio" name="layouts" [value]="l.name" [color]="colorManagerService.validLayouts.includes(l.name)?colorValid:colorInvalid" [checked]="colorManagerService.layout===l.name">
  <span [style.color]="colorManagerService.validLayouts.includes(l.name)?'#008800':'#bbbbbb'">{{l.value}}</span>
  </mat-radio-button>
</mat-radio-group>

