
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$origami-previewer-primary: mat-palette($mat-indigo);
$origami-previewer-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$origami-previewer-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$origami-previewer-theme: mat-light-theme($origami-previewer-primary, $origami-previewer-accent, $origami-previewer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($origami-previewer-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $angular-origami-previewer-primary: mat-palette($mat-green);
// $angular-origami-previewer-accent: mat-palette($mat-red, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $angular-origami-previewer-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
/*$angular-origami-previewer-theme: mat-light-theme((
  color: (
    primary: $angular-origami-previewer-primary,
    accent: $angular-origami-previewer-accent,
    warn: $angular-origami-previewer-warn,
  )
));*/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($angular-origami-previewer-theme);

$shadow: 0px 0px 15px 0px #0006;
$shadow-big: 0px 10px 30px 5px #0008;
$shadow-color: 5px 0px 5px -2px #000,
              -3px 0px 5px -2px #0008;

body{
  
  filter: contrast(80%) brightness(30%) !important;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card{
  b{
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
    text-align: center;
  }

  //background-image: url("/src/assets/paper_texture.png") !important;
  background-size: cover;
  background-color: #d0e0e0 !important;
  padding:10px 20px;
  box-shadow: $shadow-big;
  display: inline-table;
  width: max-content;
  margin-top: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
