<mat-radio-group class="card" *ngIf="mode === 'preview'" id="layouts" (change)="changeSolid($event)">
  <b>Solid</b>
  <mat-radio-button *ngFor="let solid of solids" id="layout_{{solid.name}}" colortype="radio" name="layouts" [value]="solid.name" [checked]="solid.name === 'icosaedre'">
  <span>{{solid.value}}</span>
  </mat-radio-button>
</mat-radio-group>
<div class="card" *ngIf="mode === 'preview'">
  <b>Paramètres</b>
  <!--span>fps: <mat-slider
    thumbLabel
    tickInterval="5"
    min="5" max="60"
    step="5"
    (input)="solidSettingsService.fps = $event.value; change()"></mat-slider></!--span-->
  <span (dblclick)="solidSettingsService.inertia = .5">inertia: <mat-slider
    thumbLabel
    tickInterval="0.1"
    min="0"
    max="1"
    step="0.01"
    [value]="solidSettingsService.inertia"
    (input)="solidSettingsService.inertia = $event.value; change()">
  </mat-slider></span>

  <span (dblclick)="solidSettingsService.rotation.x = 0">rotation x: <mat-slider
    thumbLabel
    tickInterval="0.1"
    min="-3"
    max="3"
    step="0.05"
    [value]="solidSettingsService.rotation.x"
    (input)="solidSettingsService.rotation.x = $event.value; change()">
  </mat-slider></span>
  <span (dblclick)="solidSettingsService.rotation.y = 0">rotation y: <mat-slider
    thumbLabel
    tickInterval="0.1"
    min="-3"
    max="3"
    step="0.05"
    [value]="solidSettingsService.rotation.y"
    (input)="solidSettingsService.rotation.y = $event.value; change()">
  </mat-slider></span>
  <span (dblclick)="solidSettingsService.scale = 1">scale: <mat-slider
    thumbLabel
    tickInterval="0.1"
    min="0"
    max="2"
    step="0.1"
    [value]="solidSettingsService.scale"
    (input)="solidSettingsService.scale = $event.value; change()">
  </mat-slider></span>
  <span *ngIf="this.mobileScreen" (dblclick)="solidSettingsService.definition = solidSettingsService.screenHeight">definition: <mat-slider
    thumbLabel
    tickInterval="100"
    min="100"
    max="3000"
    step="100"
    [value]="solidSettingsService.definition"
    (input)="solidSettingsService.definition = $event.value; change()">
  </mat-slider></span>
  <span (dblclick)="solidSettingsService.screenHeight = 300">hauteur: <mat-slider
    thumbLabel
    tickInterval="1"
    min="100"
    max="1000"
    step="1"
    [value]="solidSettingsService.screenHeight"
    (input)="solidSettingsService.screenHeight = $event.value; change()">
  </mat-slider>
  <span (dblclick)="solidSettingsService.picHeight = 100;change(); changeSolid($event)">Taille des pics: <mat-slider
    thumbLabel
    tickInterval="10"
    min="-1"
    max="200"
    step="1"
    [value]="solidSettingsService.picHeight"
    (input)="solidSettingsService.picHeight = $event.value; change(); changeSolid($event)">
  </mat-slider></span>
  <span (dblclick)="solidSettingsService.fov = 1">fov: <mat-slider
    thumbLabel
    tickInterval="0.1"
    min="0.1"
    max="5"
    step="0.1"
    [value]="solidSettingsService.fov"
    (input)="solidSettingsService.fov = $event.value; change()">
  </mat-slider></span>


  <!--button (click)="solidSettingsService.antiAliasing=!solidSettingsService.antiAliasing">anti aliasing</!--button-->
</span>
  <!--button *ngIf="!svgMode" (click)="svgMode = true">Svg mode</button>
  <button-- *ngIf="svgMode" (click)="svgMode = false">Canvas js mode</button-->
</div>

<div *ngIf="mode==='preview'" class="card">
  <b>Options</b>
  <button (click)="learn()">Apprendre</button>
  <button (click)="saveSVG()">Enregistrer (SVG)</button>
  <button (click)="savePNG()">Enregistrer (PNG)</button>
  <!--button (click)="clipboard(urlManagerService.generateUrl())">Générer l'url</!--button-->
  <button (click)="rngColors()">Couleurs aléatoire</button>
  <button (click)="showGradientGenerator()">Générateur de dégradé en 3D</button>
  <!--button online feature button (click)="sendToWhatsApp()">WhatsApp</!--button-->
</div>

<div *ngIf="mode==='learn'" class="card">
  <b>Options</b>
  <button (click)="preview()">Prévisualisation</button>
  <!--button online feature button (click)="sendToWhatsApp()">WhatsApp</!--button-->
</div>

<script>
  function savePNG(){
    var encoder = new GIFEncoder();
    encoder.setRepeat(0);
    encoder.setDelay(50);
    encoder.start();
    for (let timer = 0; timer < (36 * 3); timer++) {
      setTimeout(() => {
        // const name = 'origami_preview_' + timer + '_.png';
        // const element = document.createElement('a');
        // element.download = name;
        // element.href = this.canvas.toDataURL('image/gif');

        // element.click();
        // element.remove();
        encoder.addFrame(this.ctx);

      }, 500 * timer);
    }
    setTimeout(() => {
      // const binary_gif = encoder.stream().getData();
      // const data_url = 'data:image/gif;base64,' + encode64(binary_gif);
      encoder.finish();
      encoder.download('origami_previewer.gif');



    }, 500 * (36 * 3 + 1));
    // saveSvgAsPng(document.getElementById('svg'), 'origami_preview.png');
  }
</script>
