@import "../../styles.scss";

:host{
  display: contents;
  div{
    display: flex;
    flex-direction: column;
    span, mat-slider{
      display: block;
    }
    button{
      padding: 10px 0;
      border: 0;
      background-color: transparent;
      margin: 0 10px;
      box-sizing: content-box;
      &:hover{
        color: green;
      }
    }

    mat-slider{
      margin-top: -20px;
    }

  }
  mat-radio-group{
    display: inline-table;
    mat-radio-button{

      width: 100%;
      margin: 5px;
      display: flex;
      flex-direction: row;
    }
  }
}
