@import "../../styles.scss";

:host {
  width: 100%;
  .card{
    display: block;
    width: max-content;
    text-align: center;
    max-width: calc(100% - 180px);
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-right:90px;


    .cp {
      background-size: cover !important;
      display: inline-block;
      box-shadow: $shadow-color;
      width:100px;
      height:100px;
      padding:0;
      margin: 20px -70px 20px 0px;
      user-select: none;
      border:none;
      position: relative !important;
      transition-property: transform;
      transition-duration: 200ms;
      transition-delay: 50ms;
    }
    .cp:hover{
      transform: translate(0, 10px) !important;
    }
    .cp.active{
      transform: translate(0, 25px) !important;
    }
  }
}
